<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>EJS Template Engine</h1>
    <h2>Name : <%= sname %></h2>
    <%- lname %>
    <hr>
    <%= products %><br>
    <ol>
        <% for(i=0;i<products.length;i++){ %>
         <li><%= products[i] %></li>
        <% } %>
    </ol>
    <ol>
        <!-- ดึงเลข index ของสมาชิคที่อยู่ใน products ใส่ตัวแปรชื่อ index -->
        <% for(index in products){ %>
         <li><%= products[index] %></li>
        <% } %>
    </ol>
</body>
</html>